:root {
  --primary-color: #EEF4D4;
  --secondary-color: #DAEFB3;
  --coral-buttons: #EA9E8D;
  --liver-containers: #725752;
  --header-text: #1c2826;
}



body {
  font-family: 'Helvetica', sans-serif;
  background-color: var(--primary-color);
  margin: 0;
}

.page-load {
  height: 100vh;
  background-color: var(--primary-color);
  color: var(--header-text);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.side-buttons {
  background-color: var(--coral-buttons);
  color: var(--liver-containers);
  font-size: large;
  font-weight: 800;
  width: 50%;
  height: 50px;
  border-radius: 25px;
  margin: 30px;
}