:root {
  --primary-color: #eef4d4;
  --secondary-color: #daefb3;
  --coral-buttons: #ea9e8d;
  --liver-containers: #725752;
  --header-text: #1c2826;
}

body {
  font-family: "Helvetica", sans-serif;
  background-color: var(--primary-color);
  margin: 0;
}

.page-load {
  height: 100vh;
  width: 100%;
  background-color: var(--primary-color);
  color: var(--header-text);
  font-size: xx-large;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.load-display {
  height: 400px;
  width: 40%;
  background-color: var(--secondary-color);
  color: var(--header-text);
  text-align: center;
  font-size: xx-large;
  border: 5px solid #ea9e8d;
  border-radius: 25px;
}

.main {
  display: flex;
}

.main-after-page-load {
  width: 30%;
}

.side-bar {
  background-color: var(--secondary-color);
  width: 30%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.side-bar-heading {
  background-color: var(--liver-containers);
  color: var(--coral-buttons);
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  font-size: xx-large;
  font-weight: 800;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.after-load-side-bar-display {
  display: flex;
  flex-direction: column;
  height: 500px;
  align-items: center;
  justify-content: flex-start;
  margin-top: 25px;
}

.after-load-main-view {
  text-align: center;
  background-color: var(--primary-color);
  width: auto;
  height: auto;
}

.buttons {
  background-color: var(--coral-buttons);
  color: var(--liver-containers);
  font-size: large;
  font-weight: 800;
  width: 50%;
  height: 50px;
  border-radius: 25px;
  margin: 25px;
}

.after-tag-click-sidebar-display {
  background-color: var(--secondary-color);
  color: var (--liver-containers);
  height: 500px;
  text-align: center;
  margin-top: 10px;
}

.tags-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 20px;
  overflow-y: auto;
  max-height: 250px;
  height: 30%;
  padding: 0;
}

ul {
  list-style-type: none;
  color: var(--coral-buttons);
}

li {
  color: var(--coral-buttons);
}

.tags-section li {
  text-align: center;
}

.quick-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 70%;
  align-items: center;
  justify-content: flex-start;
}

.search-input {
  width: 75%;
  height: 50px;
  border-radius: 25px;
  margin: 10%;
}

.tag-view-search {
  background-color: var(--coral-buttons);
  color: #725752;
}

.recipes-display {
  background-color: var(--primary-color);
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.after-tag-search-view {
  background-color: var(--secondary-color);
  color: var(--coral-buttons);
  width: 75%;
  height: 80%;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  overflow-y: auto;
  max-height: 800px;
}

.recipe-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.recipe-name {
  color: var(--header-text);
  font-size: xx-large;
  text-align: center;
  margin: 30px;
}

.ingredients-label,
.directions-label {
  text-align: center;
  margin-top: 0;
}

.lists-display {
  background-color: var(--liver-containers);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  max-height: 500px;
  border-radius: 25px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 0;
  padding-bottom: 0;
  width: 100%;
}

.hidden {
  display: none;
}

.lists-display > li {
  margin: 5px;
}

.recipe-view > img {
  align-self: center;
  width: 200px;
}

.after-tag-search-view > div {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  margin: 10px;
}

.after-tag-search-view > div > img {
  align-self: center;
  width: 200px;
}
